/* Os elementos começam invisíveis e levemente deslocados */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Quando a classe 'show' for adicionada, os elementos aparecem */
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
