.cards {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
    bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards .bloco {
    width: 100%;
    background-color: #00003cff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00003cff;

    text-decoration: none;
    color: #fff;
}

.bloco i {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.bloco h3 {
    margin-top: 20px;
    text-align: center;
}

.bloco .button-bloco {
    display: flex;
    justify-content: center;
    background-color: #00003cff;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 80px;
    width: 100%;
    border-radius: 5px;
}

.bloco:hover {
    transform: scale(1.06);
    transition: .1s;
}

@media (max-width: 968px) {
    .cards {
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        position: relative;
        bottom: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}